.featured-products {
    width: 835px;
    height: 425px;
    padding: 25px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    background: @color-white;
}

.featured-products__image{
  display: block;
  width: 85px;
  height: 80px;
}


.featured-products__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.featured-products__item{
  display: flex;
  justify-content: space-between;
}
