.latest-products {
    width: 835px;
    height: 425px;
    padding: 25px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    background: @color-white;
    margin-bottom: 35px;
    text-align: center;
}

.latest-products__menu {
    position: relative;
    left: 120px;
}

.latest-products__menu a {
    color: @color-graytext;
    margin-left: 15px;
}

.latest-products__image {
    width: 175px;
    height: 200px;
    margin-bottom: 20px;
}

.latest-products__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.latest-products__header {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50px;
    border-bottom: 2px solid @color-gray;
    margin-bottom: 25px;
}

.latest-products__main {
    margin-bottom: 20px;
}

.latest-products__price-new,
.latest-products__price-old {
    display: inline-block;
    margin-bottom: 5px;
}

.latest-products__price-old {
    text-decoration: line-through;
    color: #636363;
    margin-right: 12px;
}

.latest-products__price-new {
    font-weight: bold;
}
