.production__big{
  width: 835px;
  height: 225px;
  padding: 25px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background: @color-white;
  display: flex;
  justify-content: space-between;
}

.production-big__image{
  width: 455px;
  height: 155px;
}
